 <div>
 <h1 class= "text-4xl"> Welcome to Admin  </h1>
 <div class="flex gap-4 mt-6">
 <%= link_to "New Product", new_product_path, class: "p-2 rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
 </div>
 </div>
